body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	color: #141414;
	min-width: 320px;
	padding: 0 !important;
	scroll-behavior: smooth;
	overflow-x: hidden;
	padding: 0 !important;
	transition: all 0.3s;
	font-weight: 400;
	line-height: 1.2;
}

* {
	outline: none !important;
}

a {
	transition: all 0.2s;
}

a:hover,
a:focus {
	text-decoration: none;
}

button {
	background: none;
	border: none;
}

.container {
	max-width: 1280px;
	width: 100%;
	padding: 0 10px;
}

img {
	max-width: 100%;
	height: auto;
	width: initial;
}

.row {
	margin: 0 -10px;
}
.col-lg-1,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-xs-1,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9 {
		padding: 0 10px;
	}

.header__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}

.header__hitem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.header__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}


#header {
	height: 84px;
	box-shadow:  0px -2px 5px 3px #ccc;
	position: relative;
}
.header__menubtn {
	height: 100%;
	margin-left: 25px;
}
.header__menubtn button {
	width: 105px;
	background: #f3f4f7;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	background-image: url(/images/menubtn.png);
	background-position: center;
	background-repeat: no-repeat;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
	
}

.header__menubtn button.active {
	background-image: url(/images/menuclose.png);
	background-position: center;
	background-repeat: no-repeat;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;

	
}

.header__content {
	height: 100%;
}
.header__content .container {
	height: 100%;
}
.header__phone a {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  color: #000;
 
}

.header__callback {
	margin-left: 30px;
}

.btn_main {
  font-size: 16px;  
  color: rgb(255, 255, 255); 
  text-align: center;
  white-space: nowrap;
  height: 46px;
  line-height: 46px;
  padding: 0 15px;
  width: 190px;
  background: #0a79ae;
  border-radius: 23px;
}


.header__menu {
	height: 100%;
}
.header__mainmenu {
	height: 100%;
	background: #f3f4f7;
	padding-right: 30px;
	display: none;
}
.header__mainmenu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0 -15px;
}

.header__mainmenu ul li {
	list-style: none;
	padding: 0 20px;
}
.header__mainmenu ul li a {
  font-size: 13px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
	white-space: nowrap;
}


.mainblock__text1 {
  font-size: 20px;
  color: #141414;
  text-transform: uppercase;
	margin-bottom: 0px;
	display: block;
  
}

.mainblock__text2 {
	font-family: 'HelveticaNeueCondensedBlack';
  font-size: 81px;
  color: #0a79ae;
  text-transform: uppercase;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 20px;
	display: block;
}



.mainblock__content {
	max-width: 450px;
}

.mainblock__text3 {
  font-size: 28px;
  color: #141414;
  position: relative;
  padding-bottom: 25px;
  margin-bottom: 20px;
}
.mainblock__text3:after {
	content: "";
	width: 75px;
  height: 5px;
  background: #e83423;
  position: absolute;
  bottom: 0;
  left: 0;
}

.mainblock__text4 {
  font-size: 19px;
 color: #141414;
 line-height: 1.3;
 margin-bottom: 20px;
}
.linkpdf {
	display: table;
}
.mainblock__pdf a {
  font-size: 16px;
 color: #141414;
 padding-left: 53px;
 background-image: url(/images/pdf.png);
 background-repeat: no-repeat;
 background-size: initial;
 background-position: left center;
 max-width: 270px;
 min-height: 42px;
display: block;
    align-items: center;
	display: table-cell;
    padding: 10px 0 10px 53px;
	
}

.mainblock__pdf a span {
	border-bottom: 1px dashed #0a79ae;
	padding-top: 5px;
}

.mainblock__pdf a:hover span {
	border-bottom: none;

}

.mainblock {
	 background-image: url(/images/bg1.jpg);
 background-repeat: no-repeat;
 background-size: initial;
 background-position:  center;
 height: 680px;
 display: flex;
 align-items: center;
}

.fitches__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 15px;

}


.fitches__text {
  font-size: 15px;
  line-height: 1.2;
  text-align: center;
 
}

.fitches__img {
	height: 115px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fitches__item {
	margin-bottom: 20px;
	width: 33%;

}
.fitches__content {
	max-width: 210px;
	margin: auto;
}
.fitches__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.fitches.col-md-7 {
	width: 61.333333%;
}


.fitches.col-md-5 {
	 width: 38.666667%;
}




.check label {
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding-left: 25px;
	font-weight: 400;
	  font-size: 12px;
	  line-height: 1.167;
	  color: #666666;
	  margin-left: 20px;
	 

}

.check label a {
	color: #666666;
	border-bottom: 1px solid #c3c3c3;

}

.check label a:hover {
	border-bottom: none;
}

.check input[type=checkbox] {
	display: none;
}

.check label:before {
	background: url(/images/checkbox.png) left center no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
}

.check input[type=checkbox]:checked+label:before {
	background: url(/images/checkbox_checked.png) left center no-repeat;
}

.form textarea {
	resize: none;
	background: none;
	border-radius: 10px;
	border: 1px solid #b1b1b1;
	color: #000;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	max-width: 100%;
		padding: 10px 15px;
}
.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form input {
	background: none;
	border-radius: 10px;
	border: 1px solid #b1b1b1;
	color: #000;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	max-width: 100%;
	height: 46px;
	line-height: 46px;
	padding: 0 15px;
}

input[type="text"].input-error,
input[type="tel"].input-error,
input[type="email"].input-error,
textarea.input-error,
input[type="text"].input-error {

	border: 1px solid #cc0000;
}

input[type="text"]:disabled,
input[type="tel"]:disabled,
input[type="email"]:disabled,
textarea:disabled,
input[type="text"]:disabled,
input:disabled {
	background: #e7e7e7;
	color: #333;
	border: 1px solid #e7e7e7;
}

.form input::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #141414;
}

.form input::-moz-placeholder {
	/* Firefox 19+ */
	color: #141414;
}

.form input:-ms-input-placeholder {
	/* IE 10+ */
	color: #141414;
}

.form input:-moz-placeholder {
	/* Firefox 18- */
	color: #141414;
}

.form__input {
	margin: 20px 0;
}

.form__title {
  font-size: 28px;
  font-family: 'HelveticaNeueCondensedBlack';
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 5px;

}
.form { 
	padding: 35px 60px 10px 60px;
	background: #fff;
}

.fitches__form {
	    box-shadow: 1px 1px 28px 1px #ccc;
	max-width: 455px;
	float: right;
	margin-top: -182px;
}

.fitchesblock {
	padding: 30px 0 90px 0;
}

.form__inputs {
	max-width: 320px;
	margin: auto;
}

.btn_red, .form input.btn_red {
	display: block;
	background: #e83423;
  font-size: 22px;
  color: rgb(255, 255, 255);
  height: 57px;
  line-height: 57px;
  text-align: center;
	white-space: nowrap;
	border-radius: 26px;
	border: none;
		transition: all 0.3s ease;
}


.btn_red:hover, .form input.btn_red:hover,
.btn_red:focus, .form input.btn_red:focus {

	    background: #ef5445;


}

.form__input_last {
    margin: -10px 0 0 0;
}

.title h2 {
  font-size: 48px;
   font-family: 'HelveticaNeueCondensedBlack';
	text-transform: uppercase;
  line-height: 1.333;
  
}


.text p {
  font-size: 18px;
  line-height: 1.333;
  text-align: left;
	margin-bottom: 20px;
}

.about {
	padding-bottom: 60px;
}

.about .text {
	max-width: 625px;
	margin: 15px 0;
}

.about .image {
	margin-top: 15px;
}

.marktext {
  font-size: 30px;
 
  line-height: 1.2;
  text-align: left;
	padding-left: 35px;
	position: relative;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-top: 45px;
}
.marktext:before {
	content: "";
  width: 9px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #e83423;
}


#header.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: #fff;
	z-index: 99;
	animation: smoothScroll 0.4s forwards;
	padding: 7px 0;
}

@keyframes smoothScroll {
	0% {
		transform: translateY(-60px);
	}
	100% {
		transform: translateY(0px);
	}
}

#modal_close_href {
	cursor: pointer;
}

.modal-body {
	padding: 0 30px;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 470px;
	}
}

.modal {
	overflow-y: auto;
}

body.modal-open {
	overflow: inherit;
	padding-right: 0 !important;
}

.modal-content {
	padding: 25px 30px;
	border-radius: 0;
}

.modal__form {
	margin: 20px 0 0 0;
}

.modal {
	text-align: center;
}

.modal-title {
	font-size: 30px;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: center;
}

.modal__form input[type="text"],
.modal__form input[type="tel"],
.modal__form input[type="email"],
.modal__form textarea,
.modal__form input {
	background: none;
	border-radius: 10px;
	border: 1px solid #b1b1b1;
	color: #000;
	font-size: 16px;
	font-weight: 300;
	width: 100%;
	max-width: 100%;
}

.modal__form ::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form ::-moz-placeholder {
	/* Firefox 19+ */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form :-ms-input-placeholder {
	/* IE 10+ */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form :-moz-placeholder {
	/* Firefox 18- */
	color: #000;
	font-size: 16px;
	font-weight: 300;
}

.modal__form .check label {
	color: #000;
	font-weight: 400;
}

.modal__form .check label a {
	color: #00548e;
	font-weight: 400;
	border-bottom: 1px solid #00548e;
}

.modal__form .check label a:hover {
	border-bottom: none;
}

.modal__form .check label:before {
	background: url(/images/checkbox_black.png) left center no-repeat;
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
}

.modal__form .check input[type=checkbox]:checked+label:before {
	background: url(/images/checkbox_black_checked.png) left center no-repeat;
}

.form-group {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}

.form-group_last {
	margin-bottom: 0;
}

.servicesblock {
	background-color: #e7eaee;
	background-image: url(/images/bg2.png);
	background-position: center;
	background-size: initial;
	background-repeat: no-repeat;
}

.services__num {
  font-size: 48px;
  font-family: 'HelveticaNeueCondensedBlack';
  color: rgb(10, 121, 174);
  text-transform: uppercase;
	text-align: center;
	margin-bottom: 15px;
}

.services__text {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
	color: #000;
}

.services__item {

	width: 25%;
	margin: 25px auto;
}
.services__content {
	max-width: 230px;
	margin: auto;
}
.services__items {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
	margin-bottom: 95px;
}
.title_center h2 {
	text-align: center;
	font-size: 60px;
}
.servicesblock {
	padding: 30px 0 75px;
}
.offertext {
	text-align: center;
  font-size: 30px;

  line-height: 1.2;
 

}

.red {
	color: #e83423;
}
.pricing {
  margin-bottom: 10px;
}
/* .pricing:after {
  content: '................................................................................................................................................................................................................................................................................................................';
  display: block;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  color: #000;
  font-size: 12px;
} */
.pricing__prop {
  float: left;
  font-size: 18px;
  text-align: left;
 
}
.pricing__dots {
	 border-bottom: 1px dotted #000;
	 float: left;
}
.pricing__value {
  float: right; 

  font-size: 18px;
  text-align: left;

	padding-left: 10px;
}

.pricing {
	margin-bottom: 10px;
	display: inline-block;
	width: 100%;
	position: relative;
}

.prices__info {
  font-size: 15px;
  font-style: italic;
  line-height: 1.2;
	color: #666666;
}

.prices__info span {
	font-size: 16px;
}

.pricingblock .col-md-7 {
	width: 51%;
}

.pricingblock .col-md-5 {
	width: 49%;
}

.prices {
	padding: 5px 0;
}

.pricing__prop span {
    background: #fff;

    padding-right: 5px;
    position: relative;
}
span.pricing__fordots {
	 background: #fff;
    display: inline-block;
    padding-left: 5px;
    position: relative;
		width: 120px;
		    position: absolute;
    right: 0;
    bottom: 0;
}
.pricing__dots {
	width: 100%;
	margin-top: -5px;
}

.pricingblock {
	padding: 20px 0 50px 0;
}
.pricings {
	margin-bottom: 20px;
}
 .serts__content  {
	 padding: 45px 0;
	 position: relative;

 }
.serts__slide .serts__content img {
	opacity: 0.3;
	width: 175px;
}

.serts__slide.slick-current.slick-active .serts__content img {
	width: 225px;
    opacity: 1;
    position: absolute;
    top: 1px;
    margin-left: -27px;
    z-index: 9;
    max-width: initial;
}
.serts__slidercontainer {
	position: relative;

}
.serts__slide a { pointer-events: none; }
.serts__slide.slick-current.slick-active a { pointer-events: auto; }


.serts__left.slick-arrow {
    width: 145px;
    height: 247px;
    position: absolute;
    top: 45px;
    left: 49px;
	cursor: pointer;
}


.serts__left.slick-arrow img {
   position: absolute;
    left: -999px;
    right: -999px;
    margin: auto;
    top: -999px;
    bottom: -999px;
}

.serts__right.slick-arrow {
    width: 145px;
    height: 247px;
    position: absolute;
    top: 45px;
    right: 49px;
	cursor: pointer;
}


.serts__right.slick-arrow img {
   position: absolute;
    left: -999px;
    right: -999px;
    margin: auto;
    top: -999px;
    bottom: -999px;
}

.serts__mask-left {
	width: 60px;
    height: 247px;
    position: absolute;
    top: 45px;
    left: -11px;
	cursor: pointer;
	background:#fff;
	
}

.serts__mask-right {
	width: 60px;
    height: 247px;
    position: absolute;
    top: 45px;
    right: -11px;
	cursor: pointer;
	background:#fff;
	
}
.sert__text {
  font-size: 15px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
	max-width: 500px;
	margin: auto;
		margin-bottom: 45px;

}






@media screen and (min-width: 992px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.close {
	position: absolute;
	z-index: 99;
	right: 8px;
	top: 8px;
	float: none;
	font-size: 17px;
	opacity: 1;
}

.closemenu {
	display: none;
}

.menumobile {
	display: none;
}

.team__arrows {
	display: none;
}


@media (max-width: 1279px) {
	.pricing__prop {
		width: 60%;
	}
	.pricing {
		margin-bottom: 15px;
		display: inline-block;
		width: 100%;
	}

}

@media (max-width: 991px) {
	.row {
		margin: 0 -5px;
	}
	.col-lg-1,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-xs-1,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9 {
		padding: 0 5px;
	}
	
}

@media (max-width: 767px) {
	
}